@import '../../../GlobalColors.scss';

@media (min-width: 2560px) {

}
@media (min-width: 1024px) and (max-width: 2559px) {
.footer {
    height: 315px;
    width: 100%;
    background-color: #283593;
    position: relative;
    margin: 0;
    .footer-container {
        margin-top: -10px;
        padding-left: 52px;
        padding-right: 52px;

    }
    hr {
        transform: translateY(85px)
    }
    .fotter_navigation {
        height: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            font-size: 16px;
            color: white;
            font-weight: 400;
        }

        .footer_navigation-logo {
            margin-left: -25px;
        }
        a {
            margin-left: 25px;
        }
        
        a:hover {
            color: $primary;
        }
    }
    .footer_info {
        margin-top: 30px;
        p {
            margin: 0;
        }
        .footer-contact {
            // padding-left: 10px;
            transform: translateX(10px);
            div {
                // height: 25px;
                margin-bottom: 18px;
                display: flex;
                align-items: center;

                a {
                    margin-left: 10px;
                    transition: .2s;
                    color: white;
                    font-weight: 400;
                }     
            }
            div:hover {
                cursor: pointer;
                transition: .2s;
                a {
                    color: $primary;
                    transition: .2s;
                }
                svg {
                    filter: invert(27%) sepia(51%) saturate(3878%) hue-rotate(346deg) brightness(80%) contrast(97%);
                    transition: .2s;
                }
            }
        }
        .footer-category {
            display: flex;
            flex-direction: column;
            transform: translateX(-10px);
            a {
                text-align: right;
                margin-bottom: 10px;
                font-size: 16px;
                color: white;
                font-weight: 400;
            }
            a:hover {
                color: $primary
            }
        }
    }
    .footer_bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        p {
            margin: 0;
            font-size: 11px;
        }
        .soc {
            display: flex;
            margin-top: -13px;
            margin-right: 1px;
            a{
                margin-left: 20px;
            }
            a:hover {
                filter: invert(27%) sepia(51%) saturate(3878%) hue-rotate(346deg) brightness(80%) contrast(97%)
            }
        }
        .copyright {
            font-size: 12px;
            font-weight: 400;
        }
    }
}
}
@media (min-width: 768px) and (max-width: 1023px) {
    footer {
        height: 315px;
        width: 100%;
        background-color: #283593;
        position: relative;
        margin: 0;
        .footer-container {
            margin-top: -10px;
            padding-left: 52px;
            padding-right: 52px;
    
        }
        hr {
            transform: translateY(85px)
        }
        .fotter_navigation {
            height: 85px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transform: translateX(25px);

            a {
                font-size: 16px;
                color: white;
                font-weight: 400;
            }

            .footer_navigation-logo {
                margin-left: -80px;
            }
            a {
                margin-left: 28px;
            }
            a:hover {
                color: $primary;
            }
        }
        .footer_info {
            margin-top: 30px;
            p {
                margin: 0;
            }
            .footer-contact {
                // padding-left: 10px;
                transform: translateX(-15px) translateY(-5px);
                div {
                    // height: 25px;
                    margin-bottom: 18px;
                    display: flex;
                    align-items: center;
                    a {
                        margin-left: 0px;
                        transition: .2s;
                        color: white;
                        font-weight: 400;
                    }     
                    svg {
                        // filter: invert(27%) sepia(51%) saturate(3878%) hue-rotate(346deg) brightness(80%) contrast(97%);
                        // transition: .2s;
                        display: none;
                    }
                }
                div:hover {
                    cursor: pointer;
                    transition: .2s;
                    a {
                        color: $primary;
                        transition: .2s;
                    }
                }
            }
            .footer-category {
                display: flex;
                flex-direction: column;
                margin-top: -5px;
                transform: translateX(20px);
                a {
                    text-align: right;
                    margin-bottom: 10px;
                    font-size: 16px;
                    color: white;
                    font-weight: 400;
                }
                a:hover {
                    color: $primary
                }
            }
        }
        .footer_bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            p {
                margin: 0;
                font-size: 11px;
                font-weight: 400;
                margin-left: -25px;
            }
            .soc {
                display: flex;
                margin-top: -5px;
                margin-right: -25px;
                a{
                    margin-left: 20px;
                }
                a:hover {
                    filter: invert(27%) sepia(51%) saturate(3878%) hue-rotate(346deg) brightness(80%) contrast(97%)
                }
            }
            .copyright {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}

@media (max-width: 767px) {
    footer {
        height: 460px;
        width: 100%;
        background-color: #283593;
        position: relative;
        margin: 0;
        .footer-container {
            margin-top: -10px;
            padding-left: 52px;
            padding-right: 52px;
    
        }
        hr {
            transform: translateY(225px)
        }
        .fotter_navigation {
            height: 225px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            a {
                font-size: 16px;
                color: white;
                font-weight: 400;
            }
            .footer_navigation-logo {
                margin-left: 0px;
                transform: translateY(30px);

            }
            .fotter_navigation-list {
                display: flex;
                flex-direction: column;

                a {
                    transform: translateY(-29px);
                    margin-top: 6px;
                    text-align: center;
                }
            }
        }
        .footer_info {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            p {
                margin: 0;
            }
            .footer-contact {
                transform: translateY(-7px);
                
                div {
                    margin: auto;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a {
                        margin-left: 0px;
                        transition: .2s;
                        text-align: center;
                        color: white;
                    font-weight: 400;
                    }     
                    svg {
                        display: none;
                    }
                }
            }
            .footer-category {
                display: none;
            }
        }
        .footer_bottom {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
            a {
                font-size: 11px;
                font-weight: 400;
                padding-top: 0px;
            }
            .soc {
                display: flex;
                margin-top: -5px;
                a{
                    margin: 3px 12px 3px 10px;
                }
            }
            .copyright {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}