@import '../../GlobalColors.scss';

.customButton_primary {
    color: white !important;
    background-color: $primary !important;
    width: 290px;
    height: 40px;
    box-shadow: none !important;
    span {
        text-transform: none;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        font-family: 'Source Sans Pro';
    }
}
.customButton_primary:disabled , .customButton_primary_outline:disabled , .customButton_secondary:disabled{
    background-color: #D7D7D7 !important;
    span {
        color: #8D8C8C;
    }
}
.customButton_primary:hover{
    background-color: $primaryHover !important;
    width: 290px;
    height: 40px;
    box-shadow: none !important;
    span {
        text-transform: none;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        font-family: 'Source Sans Pro';
    }
}
.customButton_primary_outline {
    color: $primary  !important;
    background-color: white !important;
    border: 2px solid $primary  !important;
    width: 290px;
    height: 40px;
    box-shadow: none !important;
    span {
        text-transform: none;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        font-family: 'Source Sans Pro';
    }
}
.customButton_primary_outline:hover {
    background-color: $primaryHoverOut !important;
    width: 290px;
    height: 40px;
    box-shadow: none !important;
    span {
        text-transform: none;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        font-family: 'Source Sans Pro';
    }
}
.customButton_secondary {
    color: white !important;
    background-color: $secondary !important;
    width: 290px;
    height: 40px;
    box-shadow: none !important;
    span {
        text-transform: none;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        font-family: 'Source Sans Pro';
    }
}
.customButton_secondary:hover {
    background-color: $secondary !important;
    width: 290px;
    height: 40px;
    box-shadow: none !important;
    span {
        text-transform: none;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        font-family: 'Source Sans Pro';
    }
}
.customButton_secondary_outline {
    color: white !important;
    background-color: white !important;
    border: 2px solid $secondary !important;
    width: 290px;
    height: 40px;
    box-shadow: none !important;
    span {
        text-transform: none;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        font-family: 'Source Sans Pro';
    }
}
.customButton_secondary_outline:hover {
    background-color: #37429788 !important;
    width: 290px;
    height: 40px;
    box-shadow: none !important;
    span {
        text-transform: none;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        font-family: 'Source Sans Pro';
    }
}
