.MuiPaper-rounded {
    transform: translate(0px) !important;
    max-width: 1000px;

    ul {
        li {
            padding: 18.5px 14px 18.5px 14px;
            line-height: 19px;
        }
        li:hover , li.Mui-selected:hover {
            background-color: #FCE2CC;
        }
        li.Mui-selected {
            color: #EF6C00;
            background-color: white;
        }
        padding: 0;
    }
}


