@import '../../../GlobalColors.scss';

.user-info {
    h3 , p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 2560px) {
    .main-section {
        &.usersList_register {
            text-align: center;

            .usersList-header  {
                color: black;
                text-align: center;
                // margin: 0;
            }
            .usersList-header {
                padding-top: 95px;
            }
            h5 {
                margin-top: -20px;
                color: black;
                font-weight: 400;
            }
    
            .usersList {
                padding-top: 30px;
                padding-bottom: 20px;
                padding-left: 0px;
    
                .user {
                    padding-left: 15px;
                    padding-bottom: 15px;
                    display: flex;
    
                    .user-img {
                        margin: 0;
                        height: 70px;
                        width: 70px;
                        border-radius: 50px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                    }
    
                    .user-info {
                        width: 250px;
                        h3 {
                            color: black;
                            text-align: left;
                            margin-top: 20px; 
                            margin-bottom: 10px;
                            margin-left: 10px;
                        }
                        p {
                            padding: 0px;
                            padding-left: 10px;
                            text-align: left;
                            color: black;
                            text-align: center;
                        }
                    }
                }
            }
            .register-header {
                color: black;
                margin-top: 130px;
                margin-bottom: 40px;
            }
        }
    }
}
@media (min-width: 1024px) and (max-width: 2559px) {
    .main-section {
        &.usersList_register {
            text-align: center;
            .usersList-header {
                color: black;
                text-align: center;
                margin: 0;
            }
            .usersList-header {
                padding-top: 130px;
            }
            h5 {
                margin-top: 15px;
                color: black;
                font-weight: 400;
                text-align: center;
            }
    
            .usersList {
                padding-top: 30px;
                padding-left: 10px;
                margin-bottom: -50px;
    
                .user {
                    padding-left: 15px;
                    padding-bottom: 90px;
                    display: flex;
    
                    .user-img {
                        margin: 0;
                        height: 70px;
                        width: 70px;
                        border-radius: 50px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                        img {
                            background-color: grey;
                        }
                    }
                    .user-info {
                        width: 210px;
                        h3 {
                            color: black;
                            text-align: left;
                            margin-top: 20px; 
                            margin-bottom: 10px;
                            margin-left: 10px;
                        }
                        p {
                            padding: 0px;
                            padding-left: 10px;
                            text-align: left;
                            color: black;
                            font-weight: 400;
                            margin: 0;
                        }
                    }
                }
            }
            .register-header {
                color: black;
                margin-top: 150px;
                margin-bottom: 15px;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .main-section {
        &.usersList_register {
            .usersList_register-container {
                text-align: center;
            }
    
            .usersList-header {
                color: black;
                text-align: center;
                margin: 0;
            }
            .usersList-header {
                padding-top: 110px;
            }
            h5 {
                padding-top: 0px;
                margin-top: 15px;
                color: black;
                font-weight: 400;
                text-align: center;
            }
            .usersList {
                padding-top: 10px;
                padding-left: 0px;
                margin-bottom: 5px;

                .user {
                    padding-left: 12px;
                    padding-bottom: 45px;
                    display: flex;
                    flex-direction: column;
    
                    .user-img {
                        margin: 0;
                        height: 70px;
                        width: 70px;
                        border-radius: 50px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: auto;
                        background-color: grey;
                    }
    
                    .user-info {
                        width: 210px;
                        margin: auto;

                        h3 {
                            color: black;
                            text-align: center;
                            margin-top: 5px; 
                            margin-bottom: 8px;
                            text-overflow: ellipsis;
                            overflow: hidden; 
                            white-space: nowrap;
                        }
                        p {
                            padding: 0px;
                            padding-left: 0px;
                            text-align: center;
                            text-overflow: ellipsis;
                            overflow: hidden; 
                            white-space: nowrap;
                            color: black;
                            font-weight: 400;
                            margin: 0;
                        }
                    }
                }
            }
            .register-header {
                color: black;
                margin-top: 130px;
                margin-bottom: 25px;
            }
            .register-header-caption {
                margin: auto;
                width: 376px;
            }
        }
    }
}
@media (max-width: 767px) {
    .main-section {
        &.usersList_register {
            text-align: center;
            .usersList-header{
                color: black;
                text-align: center;
                margin: 0;
            }
            .usersList-header {
                padding-top: 75px;
            }
            h5 {
                padding-top: 15px;
                color: black;
                text-align: center;
                font-weight: 400;
                width: 170px;
                margin: auto;
            }
    
            .usersList {
                padding-top: 35px;
                padding-bottom: 35px;
                padding-left: 0px;
    
                .user {
                    padding-left: 12px;
                    padding-bottom: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .user-img {
                        margin: 0;
                        height: 70px;
                        width: 70px;
                        border-radius: 50px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-image: url('https://icons-for-free.com/iconfiles/png/512/boy+guy+man+icon-1320166733913205010.png')
                    }
    
                    .user-info {
                        width: 200px;
                        h3 {
                            color: black;
                            text-align: center;
                            margin: auto;
                            margin-top: 8px; 
                            margin-bottom: 5px;

                        }
                        p {
                            padding: 0px;
                            padding-left: 0px;
                            text-align: center;
                            color: black;
                            margin: 0;
                        }
                    }
                }
            }
            .butt-outline {
                margin-top: -5px;
            }
            .register-header {
                color: black;
                margin-top: 55px;
                margin-bottom: 5px;
            }
            .register-header-caption {
                margin: auto;
                width: 250px;
            }
        }
    }
}

.loader {
    margin: auto;
    margin-top: 20px;
    .MuiCircularProgress-svg {
        color: $primary;
    }
}


