@media (min-width: 2560px) {
    .navigation {
        height: 65px;
        width: 100%;
        top: 0;
        position: fixed;
        background: white;
        z-index: 10;
    
        .navigation-container {
            padding-left: 16px;
            padding-right: 16px;
        }

        &-wrap {
            background: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            padding-left: 0px;
            padding-right: 0px;
    
            .navigation-logo {
                height: 24px;
            }
    
            .navigation-user {
                display: flex;
                align-items: center;
                .user-info {
                    width: 200px;
                    margin-right: 10px;
                    p {
                        color: black;
                        margin: 0;
                        text-align: right;
                    }
                    .user-name {
                        font-size: 14px;
                        font-weight: 400;
                        font-family: 'Source Sans Pro';
                    }
                    .user-email {
                        font-size: 12px;
                        font-weight: 400;
                        color: #8d8c8c;
                        font-family: 'Source Sans Pro';
                    }
                }
    
                .user-img {
                    height: 40px;
                    width: 40px;
                    background: grey;
                    border-radius: 50px;
                    margin-right: 13px;
                }
                .logout-button {
                    background-image: url(../../assets/img/icons/sign-out.svg);
                    width: 24px;
                    height: 20px;
                }
            }
    
            a {
                color: black;
                font-weight: 400;
                margin-right: 25px;
            }

            // line menu_button style
            button {
                display: none
            }
        }
    }    
}
@media (min-width: 1024px) and (max-width: 2559px) {
    .navigation {
        height: 65px;
        width: 100%;
        top: 0;
        position: fixed;
        background: white;
        z-index: 10;
    
        &-wrap {
            background: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            padding-left: 15px;
            padding-right: 15px;
    
            .navigation-logo {
                height: 24px;
                padding-right: 20px;
            }
    
            .navigation-user {
                display: flex;
                align-items: center;
                .user-info {
                    width: 150px;
                    margin-right: 10px;
                    p {
                        color: black;
                        margin: 0;
                        text-align: right;

                        &.user-name {
                            font-size: 14px;
                            font-weight: 400;
                            font-family: 'Source Sans Pro';
                        }
                        &.user-email {
                            font-size: 12px;
                            font-weight: 400;
                            color: #8d8c8c;
                            font-family: 'Source Sans Pro';
                        }
                    }
                }
    
                .user-img {
                    height: 40px;
                    width: 40px;
                    background: grey;
                    border-radius: 50px;
                    margin-right: 13px;
                }
                .logout-button {
                    background-image: url(../../assets/img/icons/sign-out.svg);
                    width: 24px;
                    height: 20px;
                }
            }
    
            a {
                color: black;
                font-weight: 400;
                padding-right: 27px;
            }

            // line menu_button style
            button {
                display: none
            }
        }
    }    
}
@media (min-width: 768px) and (max-width: 1023px) {
    .navigation {
        height: 65px;
        width: 100%;
        top: 0;
        position: fixed;
        background: white;
        z-index: 10;
    
        &-wrap {
            background: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            padding-left: 0px;
            padding-right: 0px;
    
            .navigation-logo {
                height: 24px;
            }
    
            .navigation-user {
                display: none;
            }

            a {
                display: none;
            }

            // line menu_button style
            button {
                transform: translateX(15px);
                box-shadow: none;
                background: none;
            }
            button:active {
                box-shadow: none;
                background: none;
            }
            button:hover {
                box-shadow: none;
                background: none;
            }
        }
    }    

    // line menu style
    .menu {
        width: 34vw;
        height: 100%;
        .menu-wrap {
            margin-top: 35px;
            margin-left: 25px;
            hr {
                margin-left: -25px; 
            }
            .user-img {
                height: 65px;
                width: 65px;
                border-radius: 50px;
                background: grey;
                margin-bottom: 15px;
            }
            .user-info {
                margin-bottom: 25px;
                width: 200px;
                p {
                    color: black;
                    margin: 0;

                    &.user-name {
                        font-size: 18px;
                        font-family: 'Source Sans Pro';
                    }
                    &.user-email {
                        margin-top: 5px;
                        font-size: 12px;
                        color: #8d8c8c;
                        font-family: 'Source Sans Pro';
                    }
                }
            }
            nav {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                a {
                    color: black;
                    font-weight: 400;
                    margin-bottom: 21px;
                }
            }
        } 
    }
}
@media (max-width: 767px) {
    .navigation {
        height: 65px;
        width: 100%;
        top: 0;
        position: fixed;
        background: white;
        z-index: 10;
    
        &-wrap {
            background: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            padding-left: 0px;
            padding-right: 15px;
    
            .navigation-logo {
                height: 24px;
            }
    
            .navigation-user {
                display: none;
            }

            a {
                display: none;
            }

            // line menu_button style
            button {
                transform: translateX(30px);
                box-shadow: none;
                background: none;
            }
            button:active {
                box-shadow: none;
                background: none;
            }
            button:hover {
                box-shadow: none;
                background: none;
            }
        }
    }  
    
    // line menu style
    .menu {
        width: 78vw;
        height: 100%;

        .menu-wrap {
            margin-top: 30px;
            margin-left: 15px;
            hr {
                margin-left: -25px; 
            }
            .user-img {
                height: 65px;
                width: 65px;
                border-radius: 50px;
                background: grey;
                margin-bottom: 18px;
            }
            .user-info {
                margin-bottom: 25px;
                width: 200px;
                p {
                    color: black;
                    margin: 0;

                    &.user-name {
                        font-size: 18px;
                        font-family: 'Source Sans Pro';
                    }
                    &.user-email {
                        margin-top: 7px;
                        font-size: 12px;
                        color: #8d8c8c;
                        font-family: 'Source Sans Pro';
                    }
                }
            }
            nav {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                a {
                    color: black;
                    font-weight: 400;
                    margin-bottom: 21px;
                }
            }
        }
    }
}

a:active  {
    color: #283593;
}

a:hover {
    color: #FC831F ;
    transition: .3s;
}
.logout-button {
    transition: .3s
}
.logout-button:hover {
    opacity: 0.8;
    transition: .3s;
    cursor: pointer;
}



