@import '../../../GlobalColors.scss';

@media (min-width: 2048px) {
    .main-section {
        &.header {
            width: 100%;
            height: 675px;
            margin-top: 75px;
            background-image: url(../../../assets/img/banner-bg/banner-bg-2560x676.jpg);
            background-position: center;
            background-size: cover;
    
            .header-content {
                height: calc(100% - 75px);
                margin-left: -30px;

                //header text style
                h1{
                    margin-top: 65px;
                    margin-bottom: 22px;
                
                }
                p {
                    font-size: 20px;
                    line-height: 26px;
                    margin-bottom: 38px;
                    width: 500px;
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 2048px) {
    .main-section {
        &.header {
            width: 100%;
            height: 725px;
            margin-top: 75px;
            background-image: url(../../../assets/img/banner-bg/banner-bg-1204x723.jpg);
            background-position: center;
            background-size: cover;
    
            .header-content {
                height: calc(100% - 75px);
                padding-left: 15px;
                //header text style
                h1{
                    margin-top: 45px;
                    margin-bottom: 22px;
                
                }
                p {
                    font-size: 20px;
                    line-height: 26px;
                    margin-bottom: 38px;
                    width: 425px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .main-section {
        &.header {
            width: 100%;
            height: 623px;
            margin-top: 75px;
            background-image: url(../../../assets/img/banner-bg/banner-bg-768x622.jpg);
            background-position: center;
            background-size: cover;
    
            .header-content {
                height: calc(100% - 75px);
                padding-left: 0px;
                //header text style
                h1{
                    margin-top: 60px;
                    margin-bottom: 22px;
                
                }
                p {
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 34px;
                    width: 408px;
                }
            }
        }
    }
}

@media (min-width: 319px) and (max-width: 767px) {
    .main-section {
        &.header {
            width: 100%;
            height: 393px;
            margin-top: 75px;
            background-image: url(../../../assets/img/banner-bg/banner-bg-320x393.jpg);
            background-position: center;
            background-size: cover;
            
            .header-content {
                height: calc(100% - 75px);
                padding-left: 0px;
                justify-content: center;
                //header text style
                h1{
                    margin-top: 50px;
                    margin-bottom: -5px;
                    text-align: center;
                }
                p {
                    font-size: 16px;
                    line-height: 22px;
                    margin: auto;
                    margin-top: 16px;
                    margin-bottom: 38px;
                    width: 276px;
                    height: 65px;
                    overflow: hidden;
                    text-align: center;
                }
                p::before{
                    content: 'We kindly remind you that your test assignment should be submitted as a link to github/bitbucket repository. ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀'
                }
                a {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

.butt {
    background-color: $primary !important;
    span {
       color: white; 
    }
}
.butt:hover {
    background-color: $primaryHover !important;
}



// @media (min-width: 2560px) {

// }
// @media (min-width: 1024px) and (max-width: 2559px) {

// }
// @media (min-width: 768px) and (max-width: 1023px) {

// }
// @media (max-width: 767px) {

// }