@import '../../../GlobalColors.scss';

@media (min-width: 2560px) {
    .customUpload {
        border: 2px solid $primary !important;
        padding: 16.5px 14px 16.5px 14px !important;
        width: 130px;
        border-radius: 0px 4px 4px 0px !important;
        span {
            text-transform: none ;
            line-height: 19px;
            font-size: 20px;
            font-weight: bold;
            color:$primary;
            font-family: 'Source Sans Pro';
        };
    }
    .customUploadWrap {
        width: 100%;
        display: flex;
        p {
            font-size: 12px;
            width: 300px;
            margin-right: 0;
            font-family: 'Source Sans Pro';
        }
    }
}
@media (min-width: 1024px) and (max-width: 2559px) {
    .customUpload {
        border: 2px solid $primary !important;
        padding: 16.5px 14px 16.5px 14px !important;
        width: 130px;
        border-radius: 0px 4px 4px 0px !important;
        span {
            text-transform: none ;
            line-height: 19px;
            font-size: 20px;
            font-weight: bold;
            color:$primary;
            font-family: 'Source Sans Pro' !important;
        };
    }
    
    .customUploadWrap {
        width: 100%;
        display: flex;
        p {
            font-size: 12px;
            width: 300px;
            margin-right: 0;
            font-family: 'Source Sans Pro';
        }
    }
    .customUploadWrap:hover {
        span {
            background-color: $primaryHoverOut;
            
            span {
                background: none;
                color: $primary;
            }
        }
        
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .customUpload {
        border: 2px solid $primary !important;
        padding: 16.5px 14px 16.5px 14px !important;
        width: 130px;
        border-radius: 0px 4px 4px 0px !important;
        span {
            text-transform: none ;
            line-height: 19px;
            font-size: 20px;
            font-weight: bold;
            color:$primary;
            font-family: 'Source Sans Pro';
        };
    }
    
    .customUploadWrap {
        width: 100%;
        display: flex;

        p {
            font-size: 11px;
            width: 300px !important;
            margin-right: 0;
            font-family: 'Source Sans Pro';
        }
    }
}
@media (max-width: 767px) {
    .customUpload {
        border: 2px solid $primary!important;
        padding: 0 !important;
        min-width: 56px !important;
        height: 56px;
        border-radius: 0px 4px 4px 0px !important;
        span {
            text-transform: none ;
            line-height: 19px;
            font-size: 20px;
            font-weight: bold;
            color:$primary;
            font-family: 'Source Sans Pro';
        };

        background: url(../../../assets/img/icons/upload.svg) no-repeat;
        background-size: 20px;
        background-position: center;
    }
    
    .customUploadWrap {
        width: 100%;
        display: flex;

        p {
            font-size: 12px;
            width: 290px;
            margin-right: 0;
            font-family: 'Source Sans Pro';
        }
    }
}