@media (min-width: 2560px) {
    .registerForm-container {
        transform: scale(1.09) translateY(35px);
        padding-bottom: 180px;

        .input-item {
           padding-bottom: 0px !important;
           
           .p {
                width: 300px;
                font-size: 12px;
                margin-right: 0;
                font-family: 'Source Sans Pro';
            }
            label {
                font-family: 'Source Sans Pro';
            }
        }
        .registerForm-list{
            margin-bottom: 35px ;
        }
    }
    .MuiSelect-selectMenu {
        font-family: 'Source Sans Pro' !important;
        margin-bottom: 20px !important;
    }
}
@media (min-width: 1024px) and (max-width: 2559px) {
    .registerForm-container {
        transform: translateY(40px) scale(1.04);
        padding-bottom: 180px;

        .input-item {
           padding-bottom: 5px !important;
    
           p {
                width: 300px;
                font-size: 12px;
                margin-right: 0;
                font-family: 'Source Sans Pro';
            }
            label {
                font-family: 'Source Sans Pro';
            }
        }
        .registerForm-list{
            margin-bottom: 30px ;
        }
    }
    .MuiSelect-selectMenu {
        font-family: 'Source Sans Pro' !important;
        margin-bottom: 20px !important;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .registerForm-container {
        padding-left: 0px !important;
        padding-right: 0px !important;
        transform: translateY(55px);
        padding-bottom: 170px;

        .input-item {
           padding-bottom: 7px !important;
            p {
                width: 200px;
                font-size: 12px;
                margin-right: 0;
                font-family: 'Source Sans Pro';
            }
            label {
                font-family: 'Source Sans Pro';
            }
        }
        .registerForm-list{
            margin-bottom: 30px ;
        }
    }
    .MuiSelect-selectMenu {
        font-family: 'Source Sans Pro' !important;
        margin-bottom: 20px !important;
    }
}
@media (max-width: 767px) {
    .registerForm-container {
        padding-left: 0px !important;
        padding-right: 0px !important;

        transform: translateY(35px);
        padding-bottom: 95px; //windows

        .input-item {
           padding-bottom: 3px !important;
           width: 100%;
           p {
            //    width: 250px;
               font-size: 12px;
               margin-right: 0;
               font-family: 'Source Sans Pro';
           }
           label {
                font-family: 'Source Sans Pro';
           }
        }
        .registerForm-list{
            margin-bottom: 30px ;
        }
    }

    .MuiSelect-selectMenu {
        font-family: 'Source Sans Pro' !important;
        margin-bottom: 20px !important;
    }
}

