@font-face{
    font-family: 'Overpass';
    src: url('./assets/fonts/Overpass/Overpass-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face{
    font-family: 'Source Sans Pro';
    src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face{
    font-family: 'Source Sans Pro';
    src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
@media (min-width: 2560px) {
    h1 {
        font-family: 'Overpass';
        font-size: 50px;
        line-height: 60px;
      }
    
      h2 {
        font-family: 'Overpass';
        font-size: 42px;
        line-height: 51px;
      }
    
      h3 {
        font-family: 'Overpass';
        font-size: 26px;
        line-height: 31px;
      }
    
      h4 {
        font-family: 'Overpass';
        font-size: 22px;
        line-height: 36px;
      }
    
      h5 {
        font-family: 'Source Sans Pro';
        font-size: 18px;
        line-height: 21px;
      }
}
@media (min-width: 1024px) and (max-width: 2559px) {
    h1 {
        font-family: 'Overpass';
        font-size: 50px;
        line-height: 60px;
      }
    
      h2 {
        font-family: 'Overpass';
        font-size: 42px;
        line-height: 51px;
      }
    
      h3 {
        font-family: 'Overpass';
        font-size: 26px;
        line-height: 31px;
      }
    
      h4 {
        font-family: 'Overpass';
        font-size: 22px;
        line-height: 36px;
      }
    
      h5 {
        font-family: 'Source Sans Pro';
        font-size: 18px;
        line-height: 21px;
      }
}
@media (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-family: 'Overpass';
        font-size: 42px;
        line-height: 51px;
    }
    h2 {
        font-family: 'Overpass';
        font-size: 42px;
        line-height: 51px;
    }

    h3 {
        font-family: 'Overpass';
        font-size: 26px;
        line-height: 31px;
    }

    h4 {
        font-family: 'Overpass';
        font-size: 22px;
        line-height: 36px;
    }

    h5 {
        font-family: 'Source Sans Pro';
        font-size: 18px;
        line-height: 21px;
    }
}
@media (max-width: 767px) {
    h1 {
        font-family: 'Overpass';
        font-size: 30px;
        line-height: 36px;
    }
    h2 {
        font-family: 'Overpass';
        font-size: 26px;
        line-height: 31px;
    }

    h3 {
        font-family: 'Overpass';
        font-size: 22px;
        line-height: 26px;
    }

    h4 {
        font-family: 'Overpass';
        font-size: 22px;
        line-height: 26px;
    }

    h5 {
        font-family: 'Source Sans Pro';
        font-size: 16px;
        line-height: 20px;
    }
}


.par1{
    font-family: 'Source Sans Pro';
    font-size: 18px;
    line-height: 25px;
}

.par2 {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 22px;
}

.par3 {
    font-family: 'Source Sans Pro';
    font-size: 14px;
    line-height: 20px;
}

* {
    // color: white;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
    color: white
}

//container style
.MuiContainer-maxWidthLg {
    max-width: 1170px !important;
    height: 100%;
}
body {
    margin: 0;
}

//icon for select
.MuiSelect-icon{
    top: 17px !important;
    right: 15px !important;
    background-color: white;
    background: url(./assets/img/icons/caret-down.svg) no-repeat;
    background-size: 15px;
    background-position: center;
}
.MuiPaper-rounded{
    transform: translateX(-100px) !important;
}

.navigationSelector {
    position: relative;
    transform: translateY(-65px)
}

