@import '../../../GlobalColors.scss';

@media (min-width: 2560px) {
    .main-section {
        &.about_relat {
    
            //section vertical margin
            margin-top: 0;
            margin-bottom: 125px;
    
            .about_relat-content_1-header{
                color: black;
                text-align: center;
                padding-top: 132px;
                padding-right: 10px;
                margin: auto;
            }
            .about_relat-content_1 {
                padding-right: 10px;
                padding-top: 20px;
    
                h3{
                    color: black;
                    margin-bottom: -5px;
                }
                p {
                    color: #4c4b4b;
                    text-align: left;
                    width: 748px;;
                }   
                .manMobile {
                    padding-right: 40px;
                    padding-top: 30px;
                } 
            }
    
    
            .about_relat-content_2-header{
                color: black;
                text-align: center;
                padding-left: 5px;
                margin: auto;
                padding-top: 70px;
            }
            .about_relat-content_2 {
                padding-left: 0;
                padding-top: 48px;  
                
                .card {
                    padding-left: 15px;
                    h3{
                        color: black;
                        margin-top: 20px;
                        margin-bottom: -5px;
                    }
                    p {
                        color: #4c4b4b;
                        text-align: left;
                        width: 330px;
                    } 
    
                    .langImg {
                        height: 110px;
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px) and (max-width: 2559px) {
    .main-section {
        &.about_relat {
    
            //section vertical margin
            margin-top: 0;
            margin-bottom: 120px;
 
            .about_relat-content_1-header{
                color: black;
                text-align: center;
                padding-left: 5px;
                padding-top: 132px;
                margin: auto;
                
            }
            .about_relat-content_1 {
                padding-left: 10px;
                margin-top: 10px;
       
                h3{
                    color: black;
                    margin-bottom: -9px;
                   
                }
                p {
                    color: #4c4b4b;
                    text-align: left;
                    width: 612px;
                }   
                .manMobile {
                    padding-right: 10px;
                    padding-top: 10px;
                } 
            }
    
            .about_relat-content_2-header{
                color: black;
                text-align: center;
                padding-left: 5px;
                margin: auto;
                padding-top: 115px;
            }
            .about_relat-content_2 {
                padding-left: 13px;
                padding-top: 48px;  
                
                .card {
                    padding-left: 5px;
                    h3{
                        color: black;
                        margin-top: 20px;
                        margin-bottom: -5px;
                    }
                    p {
                        color: #4c4b4b;
                        text-align: left;
                        width: 270px;
                    } 
                    .langImg {
                        height: 110px;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .main-section {
        &.about_relat {
    
            //section vertical margin
            margin-top: 110px;
            margin-bottom: 80px;
    
            .about_relat-content_1-header{
                color: black;
                text-align: center;
                padding-left: 0px;
                margin: auto;
            }

            .about_relat-content_1 {
                padding-left: 185px;
                padding-top: 15px;
                margin-left: -135px;

                h3{
                    color: black;
                    margin-bottom: -5px;
                }
                p {
                    color: #4c4b4b;
                    text-align: left;
                    width: 470px;
                }   
                .manMobile {
                    padding-right: 0px;
                    padding-top: 0px;
                    margin-top: 0px;
                    margin-left: -60px;
                    width: 219px;
                } 
            }
    
            .about_relat-content_2-header{
                color: black;
                text-align: center;
                padding-left: 5px;
                margin: auto;
                padding-top: 135px;
            }
            .about_relat-content_2 {
                padding-left: 13px;
                padding-top: 48px;  
                
                .card {
                    padding-left: 60px;
                    margin-bottom: 20px;
                    display: flex;

                    .card-text {
                        display: flex;
                        flex-direction: column;
                        margin-left: 25px;
                    }
                    h3{
                        color: black;
                        margin-top: -5px;
                        margin-bottom: -5px;
                    }
                    p {
                        color: #4c4b4b;
                        text-align: left;
                        
                        width: 80%;
                    } 
                    .langImg {
                        height: 100px;
                        flex-shrink: 0;
          
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .main-section {
        &.about_relat {
    
            //section vertical margin
            margin-top: 65px;
            margin-bottom: 60px;
    
            .about_relat-content_1-header{
                color: black;
                text-align: center;
                padding-left: 0px;
                margin: auto;
            }
            .about_relat-content_1 {
                padding-left: 0px;
                padding-top: 18px;
    
                h3{
                    color: black;
                    padding-bottom: 15px;
                    text-align: center;
                    margin: auto;
                    width: 200px;
                }
                p {
                    text-align: center;
                    color: #4c4b4b;
                    width: 291px;
                    margin: auto;
                    padding-bottom: 15px;
                } 
                a {
                    display: flex;
                    justify-content: center;
                    
                }  
                .manMobile {
                    padding-top: 0px;
                    margin: auto;
                    margin-top: -25px;
                    margin-bottom: -35px;
                    width: 219px;
                } 
            }
    
            .about_relat-content_2-header{
                margin:auto;
                margin-top: 20px; 
                margin-bottom: 20px;
                color: black;
                text-align: center;
                padding-left: 0px;
                padding-top: 40px;
                width: 290px;
                height: 73px;
                overflow: hidden;
                
            }
            .about_relat-content_2-header::before{
                content: 'About my relationships with web-development ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀'
            }

            .about_relat-content_2 {
                padding-left: 0px;
                padding-top: 5px;  
                justify-content: center;
                .card {
                    text-align: center;
                    padding-left: 12px;
                    margin-bottom: -7px;
                    h3{
                        color: black;
                        margin-top: 7px;
                        margin-bottom: -12px;
                    }
                    p {
                        color: #4c4b4b;
                        text-align: center;
                        margin: auto;
                        margin-top: 16px;
                        margin-bottom: 16px;
                        width: 290px;

                    } 
                    .langImg {
                        height: 99px;
                    }
                }
            }
        }
    }
}

a {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    color: $primary;
    font-size: 22px;
    transition: .3s;
}

a:hover {
    color: $primaryHover;
    transition: .3s;
}

