@media (min-width: 2560px) {
    .main-section {
        &.requirements {
            height: 692px;
            width: 100%;
            background-image: url(../../../assets/img/third-block-bg/third-block-bg-2560x692.jpg);
            background-size: cover;

            .requirements-header {
                text-align: center;
                padding-top: 130px;
                padding-left: 0px;
    
                margin-bottom: 29px;
            }
            .requirements-content {
                p {
                    margin-left: -15px;
                    width: 549px;
                }
            }
            .requirements-img {
                .manLaptopV2 {
                    display: none
                }
                .manLaptopV1 {
                    margin: auto;
                    margin-top: 20px;
                    padding-left: 30px;
                    width: 429px;
                    height: 361px;
                    display: block
                }
            }
        }
    }
}
@media (min-width: 1024px) and (max-width: 2559px) {
    .main-section {
        &.requirements {
            height: 755px;
            width: 100%;
            background-image: url(../../../assets/img/third-block-bg/third-block-bg-1024x755.jpg);
            background-size: cover;
            
            .requirements-header {
                text-align: center;
                padding-top: 130px;
                padding-left: 0px;
    
                margin-bottom: 25px;
            }
            .requirements-content {
                p {
                    margin-left: 5px;
                    width: 448px;
                }
            }
            .requirements-img {
                .manLaptopV2 {
                    display: none
                }
                .manLaptopV1 {
                    margin: auto;
                    margin-top: 30px;
                    padding-left: 30px;
                    width: 429px;
                    height: 361px;
                    display: block
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .main-section {
        &.requirements {
            height: 878px;
            width: 100%;
            background-image: url(../../../assets/img/third-block-bg/third-block-bg-768x878.jpg);
            background-size: cover;

            .requirements-header {
                text-align: center;
                padding-top: 110px;
                padding-left: 0px;
                width: 450px;
                margin: auto;
                margin-bottom: 29px;
            }
            .requirements-content {
                p {
                    padding-left: 0px;
                    width: 340px;
                }
            }
            .requirements-img {
                .manLaptopV1 {
                    display: none
                }
                .manLaptopV2 {
                    margin-top: 15px;
                    padding-left: 10px;
                    width: 345px;
                    display: block
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .main-section {
        &.requirements {
            height: inherit;
            width: 100%;
            background-image: url(../../../assets/img/third-block-bg/third-block-bg-320x1031.jpg);
            background-size: cover;

            .requirements-header {
                text-align: center;
                padding-top: 60px;
                padding-left: 0px;
    
                margin-bottom: 0px;
            }
            .requirements-content {
                flex-direction: column-reverse;

                p {
                    padding-left: 0px;
                    margin-top: 0px;
                    margin-bottom: 55px;
                    width: 100%;
                    text-align: center;
                }

                .requirements-img {
                    .manLaptopV2 {
                        display: none
                    }
                    .manLaptopV1 {
                        margin: auto;
                        margin-top: 30px;
                        padding-left: 15px;
                        width: 257px;
                        height: 216px;
                        display: block
                    }
                }
            }
        }
    }
}

